{{$plugins := split (getenv "PLUGINS") ","}}
{{range $plugins}}
{{if eq (.) "disk" }}
disk-xvd.*
{{end}}
{{if eq (.) "memory" }}
memory--memory-used
memory--memory-buffered
memory--memory-cached
memory--memory-free
{{end}}
{{ if eq (.) "swap" }}
swap--swap-used
swap--swap-free
swap--swap-cached
{{end}}
{{ if eq (.) "df" }}
df-hostfs-data-df_complex-free
df-hostfs-data-df_complex-reserved
df-hostfs-data-df_complex-used
df-hostfs-data-percent_bytes-free
df-hostfs-data-percent_bytes-reserved
df-hostfs-data-percent_bytes-used
df-root-df_complex-free
df-root-df_complex-used
df-root-df_complex-reserved
df-root-percent_bytes-reserved
df-root-percent_bytes-free
df-root-percent_bytes-used
df-hostfs-df_complex-free
df-hostfs-df_complex-reserved
df-hostfs-df_complex-used
{{end}}
{{ if eq (.) "cpu" }}
cpu-.*
{{end}}
{{ if eq (.) "elasticsearch" }}
elasticsearch-.*-gauge-indices.cache.filter.size
elasticsearch-.*-gauge-process.open_file_descriptors
elasticsearch-.*-gauge-jvm.mem.heap-used
elasticsearch-.*-counter-indices.indexing.index-time
elasticsearch-.*-counter-indices.indexing.index-total
elasticsearch-.*-gauge-indices.cache.field.size
elasticsearch-.*-counter-jvm.gc.time
elasticsearch-.*-gauge-indices.docs.count
elasticsearch-.*-gauge-indices.merges.current
elasticsearch-.*-counter-indices.merges.time
elasticsearch-.*[thread_pool=generic]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=index]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=get]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=snapshot]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=bulk]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=warmer]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=flush]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=search]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=refresh]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=listener]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=fetch_shard_store]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=fetch_shard_started]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=force_merge]-counter-thread_pool.rejected
elasticsearch-.*[thread_pool=management]-counter-thread_pool.rejected
elasticsearch-.*-counter-indices.search.query-total
elasticsearch-.*-counter-indices.search.query-time
elasticsearch-.*-gauge-cluster.active-shards
elasticsearch-.*-gauge-cluster.relocating-shards
elasticsearch-.*-gauge-cluster.status
elasticsearch-.*-gauge-cluster.number-of-data_nodes
elasticsearch-.*-gauge-cluster.unassigned-shards
elasticsearch-.*-gauge-cluster.number-of-nodes
elasticsearch-.*-gauge-cluster.active-primary-shards
{{end}}
{{end}}

